<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 100px;
        display: block;
    }
</style>
<div id="app">
    <div style="padding-left: 40px;">
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="相册名称	" prop="name"  style="width: 400px;">
            <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="展示排序" prop="rank">
            <el-input v-model="form.rank" style="width: 318px;" ></el-input>值越大越排前
        </el-form-item>
        <el-form-item label="相册封面" prop="imageUrl" style="width: 400px;">
            <el-upload
                    class="avatar-uploader"
                    action="/admin/article/upload"
                    name="coverFile"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload">
                <img v-if="form.image" :src="form.image" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('form')">立即创建</el-button>
            <el-button @click="resetForm('form')">重置</el-button>
        </el-form-item>
    </el-form>
    </div>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            form:{
                name:'',
                rank:'',
                imageUrl:'',
                image:''
            },
        },
        methods: {
            handleAvatarSuccess(res, file) {
                this.form.imageUrl = res;
                this.form.image = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isLt2M;
            },
            submitForm(){
                var data =new FormData();
                data.append('name',this.form.name);
                data.append('rank',this.form.rank);
                data.append('imageUrl',this.form.imageUrl)
                axios.post('add',data).then((re)=>{
                    if(re.data.Code == 200){
                        this.$message({
                            message: re.data.Msg,
                            type: 'success'
                        });
                        setTimeout(()=>{
                            window.location.href="list"
                        },2000)
                    }else {
                        this.$message.error(re.data.Msg);
                    }
                }).catch((er)=>{
                    this.$message.error(er);
                })
            },
            resetForm(formName){
                this.$refs[formName].resetFields();
            }
        }
    })
</script>