<div id="app">
    <el-table
            :data="albumList"
            style="width: 100%">
        <el-table-column
                prop="Id"
                label="ID"
                width="80">
        </el-table-column>
        <el-table-column
                prop="Name"
                label="相册名"
                width="80">
        </el-table-column>
        <el-table-column
                prop="Posttime"
                label="创建时间"
                width="280">
        </el-table-column>
        <el-table-column
                prop="Rank"
                label="排序值"
                width="80">
        </el-table-column>
        <el-table-column
                prop="Cover"
                label="封面"
                width="280">
        </el-table-column>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            albumList: {{.list}},
        },
        methods:{
            handleEdit(index, row) {
                window.location.href = "edit?id="+row.Id
            },
            handleDelete(index, row) {
                var data = new FormData();
                data.append('id',row.Id);
                axios.post('delete',data).then((re)=>{
                    if (re.data.Code == 200){
                        this.$message({
                            message: re.data.Msg,
                            type: 'success'
                        });
                        setTimeout(()=>{
                            window.location.href='list'
                        },2000)
                    }else {
                        this.$message.error(re.data.Msg);
                    }
                }).catch(()=>{

                })
            }
        }
    })
</script>