<div id="app" style="padding-left: 40px;">
    <el-table
            :data="tableData"
            style="width: 100%">
        <el-table-column
                prop="Id"
                label="ID"
                width="80">
        </el-table-column>
        <el-table-column
                prop="Sitename"
                label="网站名称"
                width="180">
        </el-table-column>
        <el-table-column
                prop="Url"
                label="网站URL"
                width="180">
        </el-table-column>
        <el-table-column
                prop="Rank"
                label="排序值"
                width="80">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            tableData: {{.list}},
        },
        methods:{
            handleEdit(index, row) {
                window.location.href="edit?id="+row.Id
            },
            handleDelete(index, row) {
                var data = new FormData();
                data.append("id",row.Id);
                axios.post('delete',data).then((re)=>{
                    if(re.data.Code == 200){
                        this.$message({
                            message: re.data.Msg,
                            type: 'success'
                        });
                        setTimeout(function () {
                            window.location.href='list'
                        },2000)

                    }else {
                        this.$message.error('删除失败');
                    }
                }).catch((er)=>{
                    this.$message.error(er);
                })
            }
        }
    })
</script>