
<style>
    #app{
        margin-left: 20px;
    }
    #app .el-table{
        padding-bottom: 10px;
    }
</style>
<div id="app">
    <el-table
            :data="info"
            style="width: 100%">
        <el-table-column
                prop="title"
                label="系统环境"
                width="400%">
        </el-table-column>
        <el-table-column
                prop="value"
                label=""
                width="900%">
        </el-table-column>
    </el-table>
    <el-table
            :data="countdata"
            style="width: 100%">
        <el-table-column
                prop="title"
                label="数据统计"
                width="400%">
        </el-table-column>
        <el-table-column
                prop="value"
                label=""
                width="900%">
        </el-table-column>
    </el-table>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            info: [{
                title: '主机名称:',
                value: "{{.hostname}}",
            }, {
                title: '编译环境：',
                value: "{{.os}} ({{.arch}}),CPU数量:{{.cpunum}}",
            }, {
                title: 'Go语言版本：',
                value: {{.gover}},
            }],
            countdata: [{
                title: '文章数量:',
                value: "{{.postnum}}",
            }, {
                title: '分类数量:',
                value: "{{.tagnum}}",
            }, {
                title: '用户数量:',
                value: {{.usernum}},
            }]
        },
        methods: {

        }
    })
</script>
