<aside class="right">  
    	<div class="about_c">
	    <p>网名：<span>{{.options.nickname}}</span></p>
	    <p>生日：1992</p>
	    <p>籍贯：广东省 肇庆市</p>
	    <p>现居：广州市-白云区</p>
	    <p>职业：前端vue、后端php+C++攻城师</p>
	    <p>爱好：听音乐,看书</p>
	    <p>运动：游泳,跑步,篮球,</p>
		<p>喜欢的书：《东周列国志》</p>
		<p>喜欢的音乐：《流浪》</p>
	    <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=891770552@qq.com" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a></p>
	</div>
	<div class="aboutme"><div/>
</aside>